body {
  font-family: "Source Sans Pro", sans-serif;
}

.book-info {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  box-shadow: 0 0 6px #bf6262;
  border-radius: 5px;
}

.book-card {
  height: 400px;
  width: 500px;
  box-shadow: 0 0 6px #d0cfcf;
  margin: 10px;
  padding: 6px 6px 0 6px;
}

.book-detail-info {
  margin: 10px;
  position: relative;
}

.cover {
  border: 2px solid gray;
  height: 80%;
  overflow: hidden;
}

.cover img {
  width: 100%;
}

.main p {
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
}