.dashboard-main-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
  margin-top:110px;
  box-shadow: 0px 0px 10px rgba(90, 213, 241, 0.3);
}

.dashboard-main-card {
  width: 30%;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.card-title {
  font-size: 50px;
}

.card-text {
  font-size: 15px;
}

.card-link {
  font-size: 50px;
}

a {
  color: #0077c0;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s ease-in-out;
}

a:hover {
  border-bottom-color: #0077c0;
}