.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-md-4 {
  flex: 1;
  margin: 10px;
}

.card {
  text-align: center;
  width: 300px;
  height: 350px;
  margin: 20px;
  border-radius: 20px;
  background-color: #86d375;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}

.card-text {
  font-size: 18px;
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-bottom: -50px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}