.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #155ceb;
  color: aliceblue;
  padding-top: 2px;
  text-align: center;
  z-index: 99;
}

.footer p {
  margin-bottom: 0;
}