.header {
  background-color: #a4d36b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0.5rem;
}

.nav__logo {
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 25rem;
}

.nav__logo a {
  color: #222;
  text-decoration: none;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.nav__links a {
  color: #f5efef;
  margin-right: 3rem;
  text-decoration: none;
  transition: color 0.2s;
}

.nav__links a:hover {
  color: #222;
}