a {
  color: #03658c;
  text-decoration: none;
}

ul {
 list-style-type: square;
}

.comments-container {
	display: flex;
	justify-content: space-evenly;
	max-width: 910px;
	margin-top: -10px;
}

.comments-container h1 {
	font-size: 35px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comment-box {
  box-shadow: 0 0 3px #ded7d7;
	border-radius: 4px;
}

ul#comments-list li:last-child {
	margin-bottom: 65px;
}

.comment-box .comment-content {
	background: #ece8e8;
	padding: 1px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

/** For Upvotes */
.upvote-container {
	display: flex;
	align-items: center;
}

.upvote-button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 16px;
	line-height: 1;
	color: #555;
	transition: color 0.2s ease-in-out;
}

.upvote-button:hover {
	color: rgb(10, 138, 74);
}

.upvote-icon {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

.upvote-count {
	margin-left: 4px;
}