.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  border-radius: 6px 0 0 5px;
  border: 2px solid #ccc;
}

button[type="submit"] {
  padding: 10px;
  border-radius: 0 6px 6px 0;
  background-color: #2a7ebe;
  color: white;
  border: none;
  cursor: pointer;
}

.search-results {
  margin-top: 50px;
}

.book-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.book-container img {
  width: 100px;
  height: 150px;
  margin-right: 20px;
}

.book-info h2 {
  margin-top: 0;
}

.book-info p {
  margin-bottom: 10px;
}

.book-info button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}